/*General rules*/
* {
    font-family: var(--fontMain);
}


a {
    text-decoration: none;
}

/*Navbar*/

.nav-item {
    list-style-type: none;
}

.navbar {
    height: 20%;
    background-color: var(--second);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    margin-bottom: 3%;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-item {
    border: none;
    background-color: var(--contrast);
}

.main-logo {
    height: 20%;
    padding-right: 2%;
}
.navi-item {
    width: auto;
}

.fa-store {
    color: black;
}
